@import 'styles/main.scss';

.formTitle {
  @include form-title;
}

.container {
  @include flex(column);
  @include minmax;

  p {
    width: 50%;
    text-align: center;
    line-height: 1.75rem;
    font-size: 1.25rem;
  }
  button {
    @include form-button;
  }

  > * {
    margin: 1rem 0;
  }
}
