@import 'styles/main.scss';

.form {
  @include flex(column);

  height: 100%;

  > * {
    margin: 1rem 0;
  }

  div {
    @include flex(column, flex-start);
  }

  input {
    width: 380px;
    height: 40px;
    padding: 8px 12px;

    margin-top: 0.5rem;

    border-radius: 5px;
    border: 1px solid $highlights-light;
    outline: none;

    transition: all 0.25s ease-in;

    &:focus {
      box-shadow: 0px 0px 0px 2px $hightlights;
    }
  }

  button {
    @include form-button;
  }
}

.formTitle {
  @include form-title;
}
