$primary: #161d30;
$secondary: #b2ac9d;

$main-font: 'Roboto', sans-serif;
$font-color: $primary;
$secondary-font-color: #e9e2cf;

$hightlights: rgb(163, 107, 129);
$highlights-2: rgb(155, 115, 140);
$bg: #e9e2cf;
$bg-light: #fff;
