@import 'styles/main';

.spinner {
  max-width: 50px;

  stroke-linecap: round;
  fill: transparent;
  stroke: $hightlights;
  stroke-width: 10;
  transform-origin: 50% 50%;
  stroke-dasharray: 250;
  animation: spinner 1s ease-in-out infinite both;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
