@import './styles/reset.scss';
@import './styles/main.scss';

* {
  box-sizing: border-box;
}

body {
  background: $bg;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: $h1;
  font-weight: 700;
}

h2 {
  font-size: $h2;
  font-weight: 600;
}

h3 {
  font-size: $h3;
  font-weight: 500;
}

p {
  font-family: 'Assistant', sans-serif;
  font-size: $base-size;
  font-weight: 300;
}
